





/* center align text within a column */
a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}  

.col-center {
    text-align: center;
}

.col-left {
    text-align: left;
}

.col-right {
    text-align: right;
}

.css-10m9xeu {
    display: block;
    width: 16px;
    height: 16px;
    text-align: right;
}

.masthead {
    font-family: IBM Plex Serif;
    font-size: 18px;
    text-align: center;
    margin: auto;
}

.masthead-logo {
    width: 100px;
    height: 100px;
}

.login {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid darkgray;
    font-family: Helvetica;
    font-size: 12px;
    color: rgb(50, 104, 145);
    text-transform: uppercase;
}

.cta {
    font-family: Helvetica;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(50, 104, 145);
}


.section-date {
    padding: 13px 20px 10px 20px;
    margin-bottom: 10px;
    align-items: baseline;

}

.date h6 {
    margin-bottom: 0px;
}

.divider {
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    width: 100%;
}

#top-divider {
    border-top: 2px solid black;
    margin-top: 7px;
}
.topstories {
    padding: 14px 4px 16px 20px;
}

.topstories h5 {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px;
}

.bottom-border {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.feature-img .col {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 6px;
}

.mobile-feature {
    padding: 7px 20px 10px 20px;
}

.mobile-feature h1 {
    font-size: 26px;
    font-family: IBM Plex Serif;
    font-weight: bold;
    text-align: left;
}

.mobile-feature h2 {
    font-family: IBM Plex Serif;
    font-size: 21px;
    font-weight: 700;
}

h6 {
    font-size: 11px;
    font-family: IBM Plex Serif;
}

#genre-title {
    font-size: 9px; 
    color: rgb(31, 31, 31);
    text-transform: uppercase;
    font-family: Helvetica;
}

#minor-story{
    font-size: 18px;
    font-family: IBM Plex Serif;
}

.mobile-feature ul {
    padding: 0px 20px 0px 5px;
    list-style-position: outside;
    margin-bottom: 10px;
}

.mobile-feature li {
    font-size: 16px;
    font-family: Helvetica;
    padding-top: 3px;
    padding-left: 0px;
    color: #555;
}

#share {
    margin-top: 7px;
}

.share-icon {
    align-self: flex-end;
}

#time {
    font-family: Helvetica;
    font-size: 14px;
    color: darkgray;
}

p {
    font-size: 12px;
    font-family: Helvetica;
    color: #555;
}

.mobile-feature p {
    font-size: 16px;
    font-family: Helvetica;
    padding-top: 3px;
    margin-bottom: 10px;
}

#batman-title {
    font-family: IBM Plex Serif;
    font-size: 21px;
    font-style: italic;
}

#image-margin {
    margin-top: 10px;
}

#comic-cover {
    margin-top: 10px;
    max-width: 60%;
}

/* classes used after mobile first complete */

.menu {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 11px;
    color: black;
    text-transform: uppercase;
}

.search {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 11px;
    color: black;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
}

.login-btn {
    padding: 7px 10px 6px;
    margin-right: 15px;
    font-family: Helvetica;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #6288A5;
    border: 1px solid #4D7B9F;
}

.cta-btn {
    padding: 7px 10px 6px;
    font-family: Helvetica;
    margin-right: 15px;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #6288A5;
    border: 1px solid #4D7B9F;
}




.btn-primary:hover {
    background-color: #326891;
}
.right-title {
    font-family: IBM Plex Serif;
    font-size: 14px;
    font-weight: 700px;
    color: black;
}

/* mini header - date weather stocks*/

.nav {
    margin-top: 5px;
    padding-top: none;
    padding-bottom: none;
}

.nav-link {
    color: black;
    font-family: helvetica;
    font-size: 11px;
    border-right: 1px solid darkgray;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
}

.mini-header ul {
    text-align: center;
    padding: 0;
    margin: 5px;
}

.mini-header {
    width: 100%;
    border-bottom: 1px solid lightgray; 
    margin: auto;
}

.mini-header li {
    display: inline-block;
    padding: 4px;
}

.mini-header a {
    font-family: Helvetica;
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.mini-header a:hover {
    background-color: lightgray;
    color: black;
    text-decoration: none;
}



@media screen and (min-width: 768px) { 
    .container {
        max-width: 960px;
    }

    .big-picture {
        padding: 0px 15px;
    }

    .mobile-feature p {
        font-size: 11px;
        font-family: Helvetica;
        padding-top: 3px;
        margin-bottom: 10px;
    }

    .mobile-feature li {
        font-size: 11px;
        font-family: Helvetica;
        padding-top: 3px;
        padding-left: 0px;
        color: #555;
    }

    .mobile-feature h1 {
        font-size: 14px;
        font-family: IBM Plex Serif;
        font-weight: bold;
        text-align: left;
    }

    .mobile-feature h2 {
        font-family: IBM Plex Serif;
        font-size: 14px;
        font-weight: 700;
    }


    #minor-story{
        font-size: 14px;
        font-family: IBM Plex Serif;
    }

    .bottom-border {
        border-bottom: none;
    }

    #batman-title {
        font-family: IBM Plex Serif;
        font-size: 28px;
        font-style: italic;
    }
}


/* features container styles */
.card {
    padding: 0px;
    border: none;
    border-radius: 0px;
}

.card-body {
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0px;
}

.card-title {
    font-family: IBM Plex Serif;
    margin-bottom: 5px;
}

.card-title:hover {
    text-decoration: underline; 
}

#superman-title {
    text-align: center; 
    font-size: 30px; 
    font-weight: normal;
}
.card-subtitle {  
    padding-top: 2px;
    margin-top: 1px;
    margin-bottom: 2px;
    font-size: 11px;
    font-family: Helvetica;
    text-transform: uppercase;
  
}

.card-img-top {
   padding-bottom: 10px;
   border-radius: 0px;
}

.figure {
    padding-top: 15px;
}

/* article text */

.card-text {
    font-size: 11px;
    font-family: Helvetica;
    color: black;
}

/* links */





